<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="title">
        Register User
      </h1>
    </div>
  </div>
</div>
<form (ngSubmit)="submit()" [ngClass]="{'submitted': submitted}">
  <div class="row" ngModelGroup="user">
    <div class="col">
      <app-user-form [submitted]="submitted"></app-user-form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="form-row action-buttons">
      <!--Back button-->
      <div class="col-xs-12 col-md-4 form-group">
        <button class="btn secondary-button" (click)="cancel()">Back</button>
      </div>
      <!--Save info button-->
      <div class="col-xs-12 col-md-4 form-group">
        <button class="btn primary-button" type="submit">Save info</button>
      </div>
    </div>
  </div>
</form>
