<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="title">
        User Registration
      </h1>
    </div>
  </div>
  <div class="form-row align-items-center">
    <div class="col-md-4 form-group">
      <label for="first-name">
        First Name *
      </label>
      <input class="form-control" id="first-name" ngModel name="firstName" required/>
    </div>
    <div class="col-md-4 form-group">
      <label for="middle-name">
        Middle Name
      </label>
      <input class="form-control" id="middle-name" ngModel name="middleName"/>
    </div>
    <div class="col-md-4 form-group">
      <label for="first-lastname">
        First Last Name *
      </label>
      <input class="form-control" id="first-lastname" ngModel name="lastName" required/>
    </div>
    <div class="col-md-4 form-group">
      <label for="second-surname">
        Second Last Name *
      </label>
      <input class="form-control" id="second-surname" ngModel name="secondSurname" required/>
    </div>
    <div class="col-md-4 form-group">
      <label for="email">
        email *
      </label>
      <input class="form-control" id="email" ngModel name="email" required/>
    </div>
    <div class="col-md-4 form-group">
      <label for="password">
        password *
      </label>
      <input class="form-control" id="password" ngModel name="password" required/>
    </div>
  </div>
</div>
