@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
@import '../../sass/variables';

:host {
  background-color: $primary-color;
  display: block;
  height: 100%;
  position: relative;
  width: 300px;
  @include media-breakpoint-down(xs) {
    display: none;
  }
}
.container-fixed {
  @include media-breakpoint-down(xs) {
    position: static;
  }
}
.menu-container {
  overflow: auto;
  background-color: $primary-color-light;
  margin: 0;
  padding: 0;
  width: 300px;
  @include media-breakpoint-down(xs) {
    height: auto;
  }
  .item-menu {
    color: $light-color;
    list-style: none;
    .description {
      margin-left: 0.5rem;
    }
    .link {
      align-items: center;
      background-color: $primary-color-light;
      color: $light-color;
      cursor: pointer;
      display: flex;
      height: 3rem;
      padding-left: 5rem;
      position: relative;
      @include media-breakpoint-down(xs) {
        padding-left: 2rem;
      }
      &:active {
        color: $light-color;
      }
      &.active, &:hover {
        background-color: $primary-color-dark;
        color: $light-color;
        font-weight: $font-weight-heavy;
        text-decoration: none;
      }
      &.link-active {
        background-color: $primary-color-dark;
      }
    }
  }
}
